<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]='["/"]'>Playground</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" [routerLinkActive]='["link-active"]'>
          <a class="nav-link" (click)='auth.login()' *ngIf='!auth.isAuthenticated()'>Login 
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-link" (click)='auth.logout()' *ngIf='auth.isAuthenticated()'>Logout 
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>Home 
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/vehicles"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span>Vehicles</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/vehicles/new"]' (click)='collapse()'>New Vehicle</a>
        </li>
      </ul>
    </div>
  </nav>
